body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #053df762;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    
}
.checkbox-group {
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 20px;
}
label {
    margin-right: 10px;
}
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #242709;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#generatedPassword{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
}